<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
 <mapper namespace="com.bookManager.dao.mapper.AuthorMapper">
 
 	<resultMap id="AuthorResult" type="Author">
 		<id property="authorId" column="author_id" />
 		<result property="firstName" column="first_name" />
 		<result property="lastName" column="last_name" />
 		<result property="rating" column="rating" javaType="Double"  />
 		<result property="createDate" column="create_date" javaType="java.time.LocalDateTime" />
 		<result property="updateDate" column="update_date" javaType="java.time.LocalDateTime" />
 		<result property="createdBy" column="created_by"  />
 		<result property="lastUpdatedBy" column="updated_by" />
 	</resultMap>
 
 
	<select id="findAuthorById" resultMap="AuthorResult">
		SELECT * from AUTHORS WHERE author_id = #{authorId}
	</select>
	
	<select id="findAllAuthors" resultType="java.util.Set" resultMap="AuthorResult">
		SELECT author_id, first_name, last_name, rating from AUTHORS
	</select>
 
 	<insert id="insertAuthor" parameterType="Author" keyProperty="authorId" keyColumn="author_id">
 		INSERT INTO AUTHORS(first_name, last_name, rating, create_date, update_date, created_by, updated_by)
 		VALUES(#{firstName}, #{lastName}, #{rating}, #{createDate}, #{updateDate}, #{createdBy}, #{lastUpdatedBy})
 	</insert>
 
 	<update id="updateAuthor">
 		UPDATE AUTHORS SET
 		first_name = #{firstName}, last_name = #{lastName}, rating = #{rating}, update_date = #{updateDate}, updated_by = #{lastUpdatedBy}  
 	</update>

	<delete id="deleteAuthor" parameterType="Long">
		DELETE FROM AUTHORS WHERE author_id = #{authorId}	
	</delete>
 
 </mapper>