<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
  
 <mapper namespace="com.bookManager.dao.mapper.UserMapper">
 
 	<resultMap id="UserResult" type="User">
 		<id property="userId" column="user_id" />
 		<result property="firstName" column="first_name" />
 		<result property="lastName" column="last_name" />
 		<result property="userName" column="user_name"   />
 		<result property="createDate" column="create_date" javaType="java.time.LocalDateTime" />
 		<result property="updateDate" column="update_date" javaType="java.time.LocalDateTime" />
 		<result property="createdBy" column="created_by"  />
 		<result property="updatedBy" column="updated_by" />
 	</resultMap>
 
 
	<select id="findUserByUserName" resultMap="UserResult">
		SELECT * from USERS WHERE user_name = #{userName}
	</select>
 	
	<insert id="insertUser" parameterType="User" keyProperty="userId" keyColumn="user_id">
		INSERT INTO USERS(user_name, first_name, last_name, password, create_date, update_date, created_by, updated_by)
		VALUES(#{userName}, #{firstName}, #{lastName}, #{password}, #{createDate}, #{updateDate}, #{createdBy}, #{updatedBy})
	
	</insert>
	
 </mapper>